#contestantList, #scoreList{
	float: left;
	width: 47%;
}
#scoreList{
	margin-left: 3%;
	border-left: 1px solid black;
	padding-left: 2%;
}

#scoreList h2 a,
#contestantList td a{
	color:#555;
	text-decoration: none;
	border-bottom:solid 1px;
	border-bottom-style: dashed;
}

div.sholder label{
	font-weight: bold;
}
div.sholder{
	padding-top: 15px;
	margin-left: 5px;
}

div.sholder span.max{
	float: right;
}

div.sholder .slider{
	margin-bottom: 10px;
}

div.progressbar span{
	position: absolute;
	margin: 3px 0 0 20px;
	text-align:center;
}