div.listControls, div.listSelected, div.listAvailable{
	float: left;
	padding-right: 10px;
	text-align: center;
}

div.listSelector ul{
	min-width: 100px;
	list-style-type: none;
	border: solid #ddd;
	min-height: 80px;
	
}
div.listSelector li.ui-selected{
	background-color:#ddd;
}
div.listSelector li{
	cursor: move;
	padding:0px 5px;
}

div.listSelector li input{
	float:left;
	margin-right:5px;
}

