body {
	background:url('assets/login_bg_stripe.png') repeat;
	padding:0; margin:0;
}

#line { 
	width:100%;
	height:10px;
	background:#181717;
	border-bottom:1px solid #424242;
}

#background { background:url('assets/loginbg.png') 50% 0 no-repeat; padding-top:50px; }

#container { 
	width:960px;
	margin:0 auto;
}

#logo {
	width:600px;
	margin:0 auto;
	text-align:center;
	margin-bottom:50px;
}

#box {
	padding:30px 30px 100px 30px;
	width:560px;
	border:1px solid #fff;
	margin:0 auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
	-moz-box-shadow: 1px 1px 0px #333;
	-webkit-box-shadow: 1px 1px 0px #333;
	box-shadow: 1px 1px 0px #333;
	
	background:#fbfbfb;
	background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
}


#box input.field {
	font-size:16px;
	padding:10px 20px;
	width:215px;
}

input.login {
	float:right;
}

#box label.fix {
	top:-5px;
}

